

.location-header {


    img {
        width: 100%;
    }

    .location-header-info {
        padding: 1rem;
    }
}

.card {
    margin-bottom: 2rem;

    .card-img {
        display: block;
        // max-width: 100vw;
        height: 20vh;
        // width: auto;
        // height: auto;
        background-position: center;
        background-size: cover;
    }
} 
